/* FOOTER */
footer {
    background-color: black;
    padding: 10px;
    line-height: 1.5rem;

    div {
        padding: 10px;
        width: fit-content;
        /* border: 1px solid white; */
    }

    /* icons */
    li {
        display: inline;

        .icons {
            width: 60px;
            height: 60px;
            padding: 10px;

            transition: 400ms ease;
        }

        .icons:hover {
            transform: scale(1.2);
        }
    }


    /* contact */
    .contact {
        color: white;
        display: inline-block;
        font-size: 16px;

        /* font2 */
        font-family: 'Quicksand', sans-serif;
        /* font-family: 'Zeyada', cursive; */
        font-weight: 100;
    }

    .contact-info {
        color: rgb(255, 166, 2);
    }

    .social-media,
    #contact-details {
        width: 100%;
    }
}