/* common-my-classes */
/* MY-CLASSES */
/* ======================================= */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.7;

    z-index: 100;
}

/* social media icons */
.social-media {
    position: relative;
    left: -8vw;
    padding-left: 5vw;
}

.social-media li {
    display: inline;
}

.social-media ul {
    padding: 0;
}

.icons {
    width: 60px;
    height: 60px;
    padding: 10px;

    transition: 400ms ease;
}

.icons:hover {
    transform: scale(1.2);
}

/* ======================================= */