* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    transition: 400ms ease;
}

/* ======================================= */

/* HEADER */
header {
    /* padding: 10px; */
    height: 100vh;
    background-color: black;
}

header h1 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 100px;
    width: fit-content;
    color: white;
    padding: 10px;
}

/* ======================================= */


/* MAIN */
main {
    min-height: 100vh;
    background-color: lightgray;
    color: black;
}

main h2 {
    font-size: 30px;
    font-family: cursive;
}

/* ======================================= */


/* FOOTER */
footer {
    background-color: black;
    padding: 10px;
    line-height: 1.5rem;
}

footer div {
    padding: 10px;
    width: fit-content;
    /* border: 1px solid white; */
}

/* icons */
footer li {
    display: inline;
}

footer .icons {
    width: 60px;
    height: 60px;
    padding: 10px;

    transition: 400ms ease;
}

footer .icons:hover {
    transform: scale(1.2);
}

/* contact */
footer .contact {
    color: white;
    display: inline-block;
    font-size: 16px;

    /* font2 */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Zeyada', cursive; */
    font-weight: 100;
}

footer .contact-info {
    color: rgb(255, 166, 2);
}

footer .social-media,
footer #contact-details {
    width: 100%;
}


/* FOR FORMS */
/* .my-input */
input {
    display: block;
    background: transparent;
    border: none;
    outline: none;

    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    transition: 400ms ease;
}

input::placeholder {
    color: orange;
}

input:focus {
    border-bottom: 1px solid orange;
}

/* .my-textarea */
textarea {
    width: 260px;
    height: 100px;

    outline: none;
    font-family: sans-serif;
    display: block;
    padding: 10px 5px;

    background: transparent;
    color: orange;
    transition: 400ms ease-in;
}

textarea:hover,
textarea:focus {
    border-color: orange;
}

/* ======================================= */

/* .my-button */
button {
    border: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;

    background-color: orange;
    color: black;
    border-radius: 20%;
    transition: 400ms ease;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: aqua;
}

/* ======================================= */