/* HEADER */
header h1 {
    font-family: 'Zeyada';
}


/* MAIN */
main {
    background-color: whitesmoke;
    margin-bottom: 5vh;
}

main h2 {
    font-size: 70px;
    font-family: 'Zeyada';
    padding: 20px 10px;
}

/* image */
main img {
    padding: 12px;
    /* width: 200px;
    height: 200px;
    object-fit: cover; */

    /* filter: sepia(); */
    /* filter: opacity(0.7); */
    /* filter: grayscale(); */
    transition: 800ms ease;
    /* cursor: pointer; */
}

main img:hover {
    transform: scale(0.9);
    filter: none;
    /* border-radius: 30px; */
    /* border: 3px solid black; */
    /* padding: 0; */
}

/* ========================================== */

/* modal input */
#qty {
    color: orange;
}

/* ========================================== */
#go-to-checkout button {
    background-color: blue;
    color: white;
    padding: 20px;
}

/* ========================================== */